@use 'base';

.main-wrapper{
    background-color: #fff;
    background-image:  url(../../img/login_bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // width: 50rem;
    // height: 40rem;

    main{
        // width: 100%;
        // height: 100%;
        background-color:rgba(40,57,101,.9);
    }

}





